.app-download {
  background-color: @blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid transparent;
}

.app-download__description {
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin: 20px auto;
  text-align: center;
}

.app-download__list {
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin: 6px auto;
  padding: 0;
  list-style: none;
}

.app-download__item:nth-child(1) {
  cursor: pointer;
  background-image: url("../img/logo-apple.svg");
  background-position: 3px 1px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.app-download__item:nth-child(2) {
  cursor: pointer;
  background-image: url("../img/logo-android.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.app-download__item:nth-child(3) {
  cursor: pointer;
  background-image: url("../img/logo-microsoft.svg");
  background-position: 13px 13px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.app-download__slogan {
  font-size: 40px;
  line-height: normal;
  color: white;
  font-weight: 300;
  display: none;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .app-download {
    position: absolute;
    top: 100px;
    width: 300px;
    background: none;
  }

  .app-download__slogan {
    display: block;
  }

  .app-download__description {
    font-size: 18px;
    font-weight: 300;
    width: 300px;
  }
}
