.app-reviews {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.app-reviews__slider {
  margin-top: 42px;
  margin-bottom: 13px;
}

.app-reviews__quote {
  margin: 0;
}

.app-reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
}

.app-reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: @blue;
  font-style: normal;
}

.app-reviews .slider-controls {
  margin-top: 28px;
}
