.background-image {
  position: relative;
  z-index: -1;
  top: -65px;
  width: 320px;
  height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -200px 0;
}