.main-nav {
  background-color: @blue;
}

.main-nav__logo {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-nav__toggle {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-burger.svg");
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
}

.main-nav__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: @blue
}

.main-nav__item {
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255, 0.15);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.main-nav__item:first-child::before {
  position: absolute;
  top: -2px;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid black;
}

.main-nav--nojs .main-nav__list {
  top: 65px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__list {
  top: 65px;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  display: block;
}

@media (min-width: @tablet-width) {

  .main-nav--opened .main-nav__list {
    top: 110px;
  }

  .main-nav__logo {
    top: 40px;
  }

  .main-nav__toggle {
    top: 40px;
  }

  .main-nav--opened .main-nav__toggle {
    top: 40px;
  }
}
